<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petsnack</title>
    {{!-- {{#each css}} --}}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Light&family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{!-- {{/each}} --}}
  </head>


        {{{body}}}
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Petsnack</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/homepage">homepage</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
      </main>
      <footer>
        <span class="material-icons-two-tone">
         pets
       </span>
        Thanks for visiting Petsnack!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>   