<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petsnack</title>
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Light&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link hre="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  </head>


    <body>
    
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

          {{#if loggedIn}}
            <a href="/homepage"></a>
            
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}

      
        </nav>
        <h1>
          <a href="/">Petsnack</a>
        </h1>
      </header>
      <main>
        <aside>
          <p>This website is only for experience only, we are not veterinarians!
              Please see your real vet for real advice...
          </p>
        </aside>
      {{{body}}}
      
      </main>
      <footer>
              &copy of Petsnack  2022 
                Thanks for visiting Petsnack!
                
        
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}




    <script src="/javascript/s3.js"></script>
  </body>
</html>