<ol class="pet-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
</li>
<p> This website is only for fun, we are not Veteinarians!!!
Fun only no Verterniarians are giving advice...
Please see your Real vet for real advice...
</p>
  {{/each}}
</ol>
