<ol class="pet-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
    <p> This website is only for experience only, we are not veterinarians!
    Please see your real vet for real advice...
    </p>
    {{/each}}
</ol>
